@import url('https://fonts.googleapis.com/css?family=Patua+One&display=swap');

@import '~bulma/sass/utilities/_all.sass';

$light-blue: #e0fbfc;
$turquoise: #55dde0;
$blue: #146099;
$dark-blue: #233c7c;
$purple: #2b1c66;
$red: #f02d37;
$yellow: #fcb549;

$primary-font: 'Patua One', sans-serif;

$primary: #e0fbfc;
$link: $blue;

$body-background-color: $scheme-main-ter;
$footer-background-color: $scheme-main-ter;
$flip-background-color: $scheme-invert;
$title-color: $scheme-invert;
$subtitle-color: $scheme-main;
$title-family: $primary-font;
$title-weight: $weight-normal;
$subtitle-family: $primary-font;


.box {
  &.rotateX {
    transform: rotateX(90deg);
  }

  &.rotateY {
    transform: rotateY(90deg);
  }

  &.zoom {
    transform: scaleX(0) scaleY(0.5);
  }

  &.translateXLeft {
    transform: translateX(-150%)
  }

  &.translateXRight {
    transform: translateX(150%)
  }

  &.translateY {
    transform: translateY(150%)
  }

  transition: transform 1s cubic-bezier(0.075, 0.820, 0.165, 1.000) 0.1s;
  height: 100%;
}

.hero {
  overflow: hidden;
}

html {
  scroll-snap-type: y proximity;
}

.start {
  scroll-snap-align: center;
}

.footer {
  scroll-snap-align: end;
}

.reverse-columns {
  flex-direction: row-reverse !important;
}

@import "~bulma/sass/base/_all.sass";
@import "~bulma/sass/elements/title.sass";
@import "~bulma/sass/elements/box.sass";
@import "~bulma/sass/elements/container.sass";
@import "~bulma/sass/elements/image.sass";
@import "~bulma/sass/layout/section.sass";
@import "~bulma/sass/layout/hero.sass";
@import "~bulma/sass/layout/footer.sass";
@import "~bulma/sass/grid/columns.sass";
